html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

textarea {
    resize: none !important;
}