@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
    color: #343a40;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

body {
    align-items: center;
    background: #fff;
    background-image: url("https://portal.supergeeks.school/api/uploads/system/background.png");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(6px);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

input, 
textarea,
select {
    outline: none;
} 

input:focus,
textarea:focus,
select:focus {
    box-shadow: 1px 1px 8px rgba(96, 96, 96, 0.4);
}

@media only screen and (max-width: 800px) {
    body {
        display: block;
    }
}